<div class='jumbotron'>
    <!-- get rid of this -->
    <h1 class='text-center'>List of all authors</h1>
</div>
<!-- should I localize elements in JS using ids -->
<div class='container'>
     
        <%= will_paginate @authors, class: 'digg_pagination' %>
   
        <table class='table table-striped mt-4' id='authors'>
                <thead>
                        <th scope='col'>Full name</th>
                        <th scope='col'>Edit</th>
                        <th scope='col'>Delete</th>
                </thead>
                <tbody>    
                        <% @authors.each do |author| %>      
                                <%= render 'author', author: author %>
                        <% end %>
                </tbody>
        </table>
</div>
    

<div class='container'>
        <!-- get rid of this -->
        <h1 class='text-center'>Add new author:</h1>
        <%= render 'form' %>
</div>