<div class='jumbotron'>
    <!-- get rid of this -->
    <h1 class='text-center'>List of all authors</h1>
    <!-- change this for sth other -->
    <img style="display: none;" src="https://media.giphy.com/media/N256GFy1u6M6Y/giphy.gif"/>
</div>
    <div class='container authors'>
        
        <% @authors.each do |author| %>
            <%= render 'author', author: author %>
        <% end %>
        
    </div>
    
<% if @author.errors.any?%>
    <ul>
        <% @author.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
<% end %>
    </ul>
<% end %>
<div class='container'>
        <!-- get rid of this -->
        <h1 class='text-center'>Add new author:</h1>
        <%= render 'form' %>
</div>