<div class='jumbotron'>
    <!-- get rid of this -->
    <h1 class='text-center'>List of all authors</h1>
    <!-- change this for sth other -->
    <img style="display: none;" src="https://media.giphy.com/media/N256GFy1u6M6Y/giphy.gif"/>
</div>
<!-- should I localize elements in JS using ids -->
<div class='container'>
        <table class='table table-striped' id='authors'>
                <thead>
                        <th scope='col'>Full name</th>
                        <th scope='col'>Edit</th>
                        <th scope='col'>Delete</th>
                </thead>    
                <% @authors.each do |author| %>      
                        <%= render 'author', author: author %>
                <% end %>
        </table>
</div>
    

<div class='container'>
        <!-- get rid of this -->
        <h1 class='text-center'>Add new author:</h1>
        <%= render 'form' %>
</div>