<div class='jumbotron'>
    <h1>List of all authors</h1>
    <img style="display: none;" src="https://media.giphy.com/media/N256GFy1u6M6Y/giphy.gif"/>
</div>
    <div class='container authors'>
        
        <% @authors.each do |author| %>
            <%= render 'author', author: author %>
        <% end %>
        
    </div>
    
    <hr />
   <% if @author.errors.any?%>
    <ul>
         <% @author.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
    </ul>
<% end %>
<h1><Add new author:</h1>


    <h1><Add new author:</h1>
    <%= render 'form' %>