<% if @author.errors.any?%>
    <ul>
         <% @author.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
    </ul>
<% end %>
<h1><Add new author:</h1>
<%= render 'form' %>