<div class='container'>
    <h1 class='text-center'>Welcome on the sample blog!</h1>
    <!-- class with h1 is not a good idea -->
    <div class='row'>
        <p> Tutaj beda ostanie posty dodane przez uzytkownikow</p>
        <p> w fajnych kartach w bootstrapa</p>
        
    </div>
</div>