<div class='container'>
    <!-- class with h1 is not a good idea -->
    <h1 class='text-center'>Welcome on the sample blog!</h1>
    <hr>
    <div>
            <p> Tutaj beda ostanie posty dodane przez uzytkownikow</p>
            <p> w fajnych kartach w bootstrapa</p>
    </div>
</div>
