 <div class='container'>   
    <div class='jumbotron'>
        <!--TODO: some attractive img in the background -->
        <h1 class='text-center'>List of all posts</h1>
    </div>
    <div class='container'>
        <%= will_paginate @posts, class: 'digg_pagination' %>
            <table class='table table-striped mt-4' id='authors'>
                <thead>
                        <th scope='col'>Title</th>
                        <th scope='col'>Edit</th>
                        <th socpe='col'>Delete</th>
                        <th scope='col'>Author profile</th>
                </thead>

                    <% @posts.each do |post| %>
                            <%= render 'post', post: post %>
                    <% end %>
                </ul>
            </table>
    </div>
</div>

<div class='container'>
    <% if @post.errors.any?%>
        <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
             <% end %>
        </ul>
    <% end %>
    <h1 class='text-center'><Add new post:</h1>
    <%= render 'form' %>
</div>