<div class='container'>
    <% if @results.empty? %> 
            <p>No posts were found :( </p>
    <% else %>
    <!-- TODO: upgrade it -->
    <!-- TODO: display it as https://getbootstrap.com/docs/4.0/components/list-group/ -->
        <% @results.each do |result| %>
            <%= result.get_title_content %>
            <hr />
        <% end %>   
    <% end %>  
</div>